/* body {
    background-color: hotpink
} */

/*
to write notes in css we have put our notes inside of the slash-star and star-slash symbols
*/

/*css for class name called done*/
/*if there is a class name called done, then the text will be line-though*/
.done {
    text-decoration: line-through;
}


/*
we want to indicate to the user that we can click on certains things in the DOM
lets add a pointer to the button and on the li
*/

button  {
    cursor: pointer;
    border-radius: 5px; /*round off the square edges by 5pxiels*/
}

li {
    cursor: pointer;
}


#delete{
    background-color: hotpink;

}